/*BASE STYLE*/
*{
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    background-color: #000022;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='2000' viewBox='0 0 800 800'%3E%3Cg fill='none' %3E%3Cg stroke='%23026' stroke-width='17'%3E%3Cline x1='-8' y1='-8' x2='808' y2='808'/%3E%3Cline x1='-8' y1='792' x2='808' y2='1608'/%3E%3Cline x1='-8' y1='-808' x2='808' y2='8'/%3E%3C/g%3E%3Cg stroke='%23002163' stroke-width='16'%3E%3Cline x1='-8' y1='767' x2='808' y2='1583'/%3E%3Cline x1='-8' y1='17' x2='808' y2='833'/%3E%3Cline x1='-8' y1='-33' x2='808' y2='783'/%3E%3Cline x1='-8' y1='-783' x2='808' y2='33'/%3E%3C/g%3E%3Cg stroke='%23002060' stroke-width='15'%3E%3Cline x1='-8' y1='742' x2='808' y2='1558'/%3E%3Cline x1='-8' y1='42' x2='808' y2='858'/%3E%3Cline x1='-8' y1='-58' x2='808' y2='758'/%3E%3Cline x1='-8' y1='-758' x2='808' y2='58'/%3E%3C/g%3E%3Cg stroke='%23001f5c' stroke-width='14'%3E%3Cline x1='-8' y1='67' x2='808' y2='883'/%3E%3Cline x1='-8' y1='717' x2='808' y2='1533'/%3E%3Cline x1='-8' y1='-733' x2='808' y2='83'/%3E%3Cline x1='-8' y1='-83' x2='808' y2='733'/%3E%3C/g%3E%3Cg stroke='%23001e59' stroke-width='13'%3E%3Cline x1='-8' y1='92' x2='808' y2='908'/%3E%3Cline x1='-8' y1='692' x2='808' y2='1508'/%3E%3Cline x1='-8' y1='-108' x2='808' y2='708'/%3E%3Cline x1='-8' y1='-708' x2='808' y2='108'/%3E%3C/g%3E%3Cg stroke='%23001d56' stroke-width='12'%3E%3Cline x1='-8' y1='667' x2='808' y2='1483'/%3E%3Cline x1='-8' y1='117' x2='808' y2='933'/%3E%3Cline x1='-8' y1='-133' x2='808' y2='683'/%3E%3Cline x1='-8' y1='-683' x2='808' y2='133'/%3E%3C/g%3E%3Cg stroke='%23001c53' stroke-width='11'%3E%3Cline x1='-8' y1='642' x2='808' y2='1458'/%3E%3Cline x1='-8' y1='142' x2='808' y2='958'/%3E%3Cline x1='-8' y1='-158' x2='808' y2='658'/%3E%3Cline x1='-8' y1='-658' x2='808' y2='158'/%3E%3C/g%3E%3Cg stroke='%23001b4f' stroke-width='10'%3E%3Cline x1='-8' y1='167' x2='808' y2='983'/%3E%3Cline x1='-8' y1='617' x2='808' y2='1433'/%3E%3Cline x1='-8' y1='-633' x2='808' y2='183'/%3E%3Cline x1='-8' y1='-183' x2='808' y2='633'/%3E%3C/g%3E%3Cg stroke='%23001a4c' stroke-width='9'%3E%3Cline x1='-8' y1='592' x2='808' y2='1408'/%3E%3Cline x1='-8' y1='192' x2='808' y2='1008'/%3E%3Cline x1='-8' y1='-608' x2='808' y2='208'/%3E%3Cline x1='-8' y1='-208' x2='808' y2='608'/%3E%3C/g%3E%3Cg stroke='%23001949' stroke-width='8'%3E%3Cline x1='-8' y1='567' x2='808' y2='1383'/%3E%3Cline x1='-8' y1='217' x2='808' y2='1033'/%3E%3Cline x1='-8' y1='-233' x2='808' y2='583'/%3E%3Cline x1='-8' y1='-583' x2='808' y2='233'/%3E%3C/g%3E%3Cg stroke='%23001846' stroke-width='7'%3E%3Cline x1='-8' y1='242' x2='808' y2='1058'/%3E%3Cline x1='-8' y1='542' x2='808' y2='1358'/%3E%3Cline x1='-8' y1='-558' x2='808' y2='258'/%3E%3Cline x1='-8' y1='-258' x2='808' y2='558'/%3E%3C/g%3E%3Cg stroke='%23001743' stroke-width='6'%3E%3Cline x1='-8' y1='267' x2='808' y2='1083'/%3E%3Cline x1='-8' y1='517' x2='808' y2='1333'/%3E%3Cline x1='-8' y1='-533' x2='808' y2='283'/%3E%3Cline x1='-8' y1='-283' x2='808' y2='533'/%3E%3C/g%3E%3Cg stroke='%2300163f' stroke-width='5'%3E%3Cline x1='-8' y1='292' x2='808' y2='1108'/%3E%3Cline x1='-8' y1='492' x2='808' y2='1308'/%3E%3Cline x1='-8' y1='-308' x2='808' y2='508'/%3E%3Cline x1='-8' y1='-508' x2='808' y2='308'/%3E%3C/g%3E%3Cg stroke='%2300153c' stroke-width='4'%3E%3Cline x1='-8' y1='467' x2='808' y2='1283'/%3E%3Cline x1='-8' y1='317' x2='808' y2='1133'/%3E%3Cline x1='-8' y1='-333' x2='808' y2='483'/%3E%3Cline x1='-8' y1='-483' x2='808' y2='333'/%3E%3C/g%3E%3Cg stroke='%23001439' stroke-width='3'%3E%3Cline x1='-8' y1='342' x2='808' y2='1158'/%3E%3Cline x1='-8' y1='442' x2='808' y2='1258'/%3E%3Cline x1='-8' y1='-458' x2='808' y2='358'/%3E%3Cline x1='-8' y1='-358' x2='808' y2='458'/%3E%3C/g%3E%3Cg stroke='%23001336' stroke-width='2'%3E%3Cline x1='-8' y1='367' x2='808' y2='1183'/%3E%3Cline x1='-8' y1='417' x2='808' y2='1233'/%3E%3Cline x1='-8' y1='-433' x2='808' y2='383'/%3E%3Cline x1='-8' y1='-383' x2='808' y2='433'/%3E%3C/g%3E%3Cg stroke='%23013' stroke-width='1'%3E%3Cline x1='-8' y1='392' x2='808' y2='1208'/%3E%3Cline x1='-8' y1='-408' x2='808' y2='408'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 25px;
}

header{
    text-align: center;
}

.row{

    display: flex;
    flex-wrap: wrap;
    height: 300px;
}
aside{
    flex: 30px;
    height: 300px;
    padding: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px  rgba(0, 0, 0, .2);
}
aside img{
    width:100%;
    filter: drop-shadow(
        0 0 10px  rgba(245, 245, 245, 0.342));  
}


/* HEADER */

/* BANNER */
#banner{
    padding: 0 50px;
    background-image: url(img/banner-flexbox-grid.png);
    height: 55vh;
    background-size: cover;
    background-position: center;
}

/* MENU */
.seccion-menu {
    height: 60px;
    background-color: #3a3838;
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    text-transform: uppercase;
    color: #fff;
    animation: logo 5s infinite;
    cursor: pointer;
    text-decoration: none;  
}


@keyframes logo{
    0%, 39%, 41%, 59%, 61%, 100%{
        text-shadow: 
        #fff 0 0 12px,
        #083d97 0 0 24px,
        #083d97 0 0 36px;
        
    } 
    40%, 60%{
        text-shadow: none;
    }

}

.menu-container a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;

}



.mostrar-menu, 
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}
.mostrar-menu{
    order: 1;
}

.menu-container a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
    color: #346fd4;
}
#check{
    display: none;
}



/* CONTENT */


.galeria-port{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.imagen-port{
    text-align: center;
    height: 80%;
    margin-bottom: 50px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273,91%,27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

p{
    justify-content: center;
} 


/* RESPONSIVE */
@media screen and (max-width: 768px) {
    /* BANNER */
    .banner-container {
        padding: 20px;
    }
    .banner-container h1{
        font-weight: 400;
        padding:  10px 0px;
        font-size: 60px;
    }

    /* MENU */
    .mostrar-menu, 
    .esconder-menu{
        display: block

    }

    .menu-container{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #3a3838;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }

    .menu-container a{
        display: block;
        padding: 20px;
    }

    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #check:checked ~ .menu-container {
        right: 0;

    }

    aside {
        width: 80px; 
       
    }


}
@media screen and (max-width: 1024px){
     /* BANNER */
     .banner-container {
        padding: 20px;
    }
    .banner-container h1{
        font-weight: 400;
        padding:  10px 0px;
        font-size: 60px;
    }

    /* MENU */
    .mostrar-menu, 
    .esconder-menu{
        display: block

    }

    .menu-container{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #3a3838;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }

    .menu-container a{
        display: block;
        padding: 20px;
    }

    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #check:checked ~ .menu-container {
        right: 0;

    }

    aside {
        width: 80px; 
       
    }

}
@media screen and (max-width: 968px){
    .banner-container {
        padding: 5px;
    }
    .banner-container h1{
        font-weight: 300;
        padding:  25px 5px;
        font-size: 38px;
    }
}
@media screen and (max-width: 425px){
    .banner-container {
        padding: 5px;
    }
    .banner-container h1{
        font-weight: 300;
        padding:  25px 5px;
        font-size: 38px;
    }
}
@media screen and (max-width: 375px){
    .banner-container {
        padding: 5px;
    }
    .banner-container h1{
        font-weight: 300;
        padding:  25px 5px;
        font-size: 33px;
    }
}

@media screen and (max-width: 320px){
    .banner-container {
        padding: 5px;
    }
    .banner-container h1{
        font-weight: 300;
        padding:  25px 5px;
        font-size: 25px;
    }
}

/* FOOTER */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer img{
    width: 2%;
}